<div class="controls enter-subtopic">
    <div class="input-append dropdown">
        <input class="input-medium" autocomplete="off" name="subtopic" type="text"
               placeholder="Enter subtopic" data-provide="typeahead" data-items="8"/>
        <button class="btn dropdown-toggle" data-toggle="dropdown">
            <i class="icon-pencil"></i>
        </button>
        <ul class="dropdown-menu pull-right">
            <!-- dropdown menu links -->
            <li><a class="enter-subtopic"><i class="icon-edit"></i> Enter sub-topic</a>
            </li>
            <li><a class="remove-topic"><i class="icon-remove"></i> Remove sub-topic</a>
            </li>
        </ul>
    </div>
</div>