<div id="header-container" class="navbar navbar-inverse navbar-fixed-top">
</div>
<!--/#header-container -->

<div class="container-fluid">

    <div id="signup-login-container" class="row-fluid">
    </div>
    <!--/#signup-login-container-->

    <div id="content-container" class="row-fluid logged-out">

        <div id="input-container" class="span3" >
        </div>
        <!--/#input-container-->

        <div id="visualization-container" class="span9" >

        </div>
        <!--/#visualization-container-->

    </div>
    <!--/row-fluid-->
    <footer class="logged-out">
        <hr>
        <p>&copy; Cohesion Catalyst 2013</p>
    </footer>
</div>
<!--/.container-fluid-->
