<div class="span4 offset2 signup">
    <div>
        <form id="signup-form" class="form-signin" autocomplete="off">
            <h2 class="form-signin-heading">Sign Up</h2>

            <div class="control-group">
                <div class="controls">
                    <input id="signup-username" type="text" name="username" class="input-block-level"
                           placeholder="Create a Username">

                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <input id="signup-email" type="text" name="email" class="input-block-level" placeholder="Email">
                    <!--<em class="help-inline"></em>-->
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <input id="signup-password" type="password" name="password" class="input-block-level"
                           placeholder="Create a Password">
                    <!--<em class="help-inline"></em>-->
                </div>
            </div>
            <button id="signup-btn" class="btn btn-large btn-inverse" type="submit">Sign Up</button>

        </form>
    </div>
</div>
<div class="span6">
    <form id="login-form" class="form-signin" autocomplete="off">
        <h2 class="form-signin-heading">Log In</h2>

        <div class="control-group">
            <div class="controls">
                <input id="login-username" type="text" name="username" class="input-block-level"
                       placeholder="Username or Email">
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <input id="login-password" type="password" name="password" class="input-block-level"
                       placeholder="Password">
            </div>
        </div>
        <div>
            <span class="login-error">The login data is not correct.<br/>Please, try again or did you<br/><a class="inactive">forget your password?</a></span>
            <button id="login-btn" class="btn btn-large btn-inverse " type="submit" style="float: right;">Log in
            </button>
        </div>
    </form>
</div>